{% extends "base.html" %}

{% load i18n %}

{% block titulo %}{{ titulo }} - {{ block.super }}{% endblock %}
{% block h1 %}{{ titulo }}{% endblock %}

{% block conteudo %}{{ block.super }}
{% regroup pagina.object_list by get_status_display as contas %}

{% for grupo in contas %}
<h2>{{ grupo.grouper }}</h2>

{% for conta in grupo.list %}
<div>
	<a href="{{ conta.get_absolute_url }}">{{ conta }}</a>
</div>
{% endfor %}
<br />
{% endfor %}

<hr />
<div class="paginacao">
	Paginas:
    {% for pagina_numero in paginacao.page_range %}
    <a href="{{ request.path }}?pagina={{ pagina_numero }}">{{ pagina_numero }}</a>
    {% endfor %}
</div>
{% endblock conteudo %}

